@font-face {
    font-family: 'Red Smoke';
    src: url('../fonts/RedSmoke.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
  }
  
  h1 {
    font-family: 'Red Smoke', sans-serif;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
  }

body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#video-background {
    pointer-events: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-foreground {
    width: 100%;
    height: 100%;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}

#video-foreground iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 50px;
    text-align: center;
}

.title {
      font-family: 'Red Smoke';
      font-size: 100px;
      letter-spacing: 3mm;
      color: #fff;
      text-shadow: 2px 2px 4px #000;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

.githubIcon {
    background-color: white; 
    border-radius: 45px; 
}

.border {
    background-color: black; 
    width: 100%; 
    height: 10%;  
}

.top {
    position: fixed;
    top: 0;
}

.bottom {
    position: fixed; 
    bottom: 0; 
}

  
  